
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
	color: #555;
}

body, h1, h2, h3, h4 {font-family: 'Source Sans Pro', sans-serif;}
.jumbotron {
	background: url('/img/bg03.jpg') no-repeat top center;
	/* http://www.flickr.com/photos/bombaglot/4779911493/ */
	height: 300px;
	color: #333;
	padding-top: 68px;
}

.jumbotron h1 {
	font-size: 45px;
	color: #fff;
	text-shadow: 1px 2px 4px #333;
}

.jumbotron-inner {
	margin: 0 auto;
	width: 650px;
}

#top {
	border-bottom: 2px solid #b7b7b7;
	background: #f5f5f5;
}

#top h1 {
	margin-top: 45px;
}

#top h2 {
	font-size: 1.4em;
	/*font-style: italic;*/
}

h3, .get-it {
	margin:70px 0;
}

.features div{
}

.features .glyphicon {
	font-size: 40px;
}

.features .well {
	text-align: center;
}


#gallery {
	height:516px;
}

#gallery img {
	margin: 0 auto;
}

.carousel-control {
	color: #333;
	text-shadow: 1px 1px 2px #eee;
}

.carousel-control:hover {
	color: #000;
	text-shadow: 1px 1px 2px #fff;
}

.carousel-control.right, .carousel-control.left {
	background: transparent;
}
