{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'execution' %} <em>{{ execution.task.name }}</em> on <em>{{ execution.environment.name }}</em>
	<small>{% execution_status execution.status %}</small>
	<a href="{% url 'task_execute_page' task_id=execution.task.id environment_id=execution.environment.id %}" role="button" class="btn btn-primary pull-right"><i class="fa fa-bolt"></i> Execute</a>
</h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li><a href="{{ execution.task.application.get_absolute_url }}">{% model_icon 'application' %} {{ execution.task.application.name }}</a></li>
	<li><a href="{{ execution.environment.get_absolute_url }}">{% model_icon 'environment' %} {{ execution.environment.name }}</a></li>
	<li><a href="{{ execution.task.get_absolute_url }}">{% model_icon 'task' %} {{ execution.task.name }}</a></li>
	<li class="active">{% model_icon 'execution' %} Execution</li>
</ol>

<ul class="parameter-list">
	{% for parameter in execution.parameters.all %}
	<li>{{parameter.name}} = {{parameter.value}}</li>
	{% endfor %}
</ul>

<ul class="command-list">
	{% if execution.time_start != None %}
	<li class="text-muted">started    {{execution.time_start}}</li>
	{%endif%}
	{% for command in execution.commands.all %}
	<li class="{% if command.servers.first.time_start == None %}text-muted{%endif%}">
		{{command.command}}
		{% for role in command.roles.all %}
		<span class="label label-default">{{role.name}}</span>
		{% endfor %}
		{% for server in command.servers.all %}
			<ul class="log">
				<li><b>{{server.server.name}}</b> ({{server.server.host}})</li>
				<pre>{{server.output}}</pre>
				{% if server.time != None %}
					{% if server.status == server.SUCCESS %}
						<li class="text-success">finished in {{server.time}} s</li>
					{% else %}
						<li class="text-danger">failed with code {{server.return_code}} after {{server.time}} s</li>
					{% endif %}
				{% endif %}
			</ul>
		{% endfor %}
	</li>
	{% endfor %}
	{% if execution.time_end %}
	<li class="text-muted">finished {{execution.time_end}}, {{execution.time}} s</li>
	{% endif %}
</ul>

{% endblock %}