/** GLOBAL **/

html {
    overflow-y: scroll;
}

body {
    margin-top: 0;
}

h1 {
    word-break: break-all;
}
h1 .label {
    vertical-align: 0.2em;
}

pre {
    padding: 0;
    margin: 0;
    color: #333333;
    background-color: #fff;
    border: 0 solid #cccccc;
}

#page-wrapper {
    padding-top: 5px;
}

.navbar-collapse {
    padding: 0;
    max-height: none;
}

.navbar-brand {
    width: 170px;
    border-bottom: 1px solid #26323d;
    font-size: 19px;
    letter-spacing: 6px;
    font-weight: bold;
}

.nav-user {
    border-top: 1px solid #26323d;
}

#settings-submenu {
    background-color: #26323d;
}

#settings-submenu li a {
    padding: 0 0 0 49px;
}

#settings-submenu li.section {
    padding: 0 0 0 30px;
    color: #a0a0a0;
}

#settings-submenu li + li.section{
    margin-top: 4px;
}

#settings-opener .caret {
    border-top-color: #a0a0a0;
    border-bottom-color: #a0a0a0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.nav ul > li > ul {
    padding: 0;
}

.nav ul a {
    display: block;
    margin: 0;
    padding: 1px 0 1px 10px;
    color: #a0a0a0;
}

.side-nav a:hover {
    background: #172226;
    text-decoration: none;
    color: #eee;
}

.side-nav {
    background-color: #1e2933;
    left:0;
    margin-left:0;
}

.side-nav ul {
    white-space: nowrap;
}

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs-small > li > a {
    padding: 5px 10px;
}

ul.nav-applications > li > a {
    font-weight: bold;
}

ul.nav-environments a {
    padding-left: 34px;
}

h1 > i.fa, h3 > i.fa {
    color: #3776ab;
}

i.fa:after {
    content: "\00a0";
}

button > i.fa:after {
    content: "";
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 0;
    }

    h1 {
        font-size: 2em;
        word-break: keep-all;
    }

    .long-title {
        display: none;
    }

    .nav-tabs > li {
        float: none;
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 170px;
    }

    .side-nav {
        top: 0;
        width: 170px;
    }
}

/** chosen **/
.chosen-container input {
    height: 25px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #888;
}

.chosen-container {
    font-size: 14px;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    padding-top: 3px;
    padding-bottom: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin-top: 6px;
    margin-bottom: 6px;
}

.has-error .chosen-choices {
    border-color: #953b39;
}

/** modal **/
.modal-footer {
    text-align: left;
}

.modal {
    overflow-y: scroll;
}

.dependent1 {
    padding-left: 20px !important;
}

.dependent2 {
    padding-left: 40px !important;
}

#department-select {
    width: 100%;
}

#settings li.dropdown:hover > ul.dropdown-menu {
    display: block;
}


/** session message */
.sessionMessageWrap {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
    z-index: 1000;
}
.sessionMessageWrap > div {
    width: 400px;
    position: fixed;
    top: 8px;
    left: 50%;
    z-index: 1000;
    padding: 7px;
    margin-left: -200px;
    margin-bottom: 10px;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 1);
    text-align: center;
    border: 1px solid #FFC066;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow:inset 1px 1px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px #ffffff;
    box-shadow:inset 1px 1px 0px #ffffff;
    background-color: #FFF89F;
    color: #6e3000;
    cursor: pointer;
    visibility: hidden;
    opacity: 0.75;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform-origin: 50% -10px;
    -moz-transform-origin: 50% -10px;
    -o-transform-origin: 50% -10px;
    transform-origin: 50% -10px;
    -webkit-transform: rotateX(90deg) translateY(-10px);
    -moz-transform: rotateX(90deg) translateY(-10px);
    -o-transform: rotateX(90deg) translateY(-10px);
    transform: rotateX(90deg) translateY(-10px);
 }
.sessionMessageWrap > div.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg) translateY(0);
    -moz-transform: rotateX(0deg) translateY(0);
    -o-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
}
.sessionMessageWrap > div span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.sessionMessageWrap > div.error {
    color: #a24543;
    background-color: #fae5e5;
    border-color: #ddb5bb;
    font-style: normal;
    font-size: inherit;
}
.sessionMessageWrap > div.success {
    color: #3b773b;
    background-color: #DFF0D8;
    border-color: #b6c9a7;
}
.sessionMessageWrap > div.information {
    color: #367295;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
.sessionMessageWrap > div.long {
    width: 700px;
    margin-left: -350px;
}
.sessionMessageWrap > div.short {
    width: 200px;
    margin-left: -100px;
}

.panel-body {
    padding-bottom: 0;
}

div.dashboard-application + div {
    border-top: 3px solid #eee;
    padding-top: 18px;
}

.dashboard-application .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

#login_form h1 {
    margin: 50px 0 50px;
}

#login_form .panel-body {
    padding-bottom: 15px;
}

#notifications .application {
    padding-left: 20px;
}