{% load core_extras %}
{% load task_extras %}
{% load staticfiles %}
{% load humanize %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-condensed" cellpadding="5">
                <thead>
                <tr>
                    <th>Latest activity...</th>
                </tr>
                </thead>
                {% for event in events %}
                    <tr>
                        <td>
                            {% with "event/"|add:event.type|add:"/activity.html" as template %}
                                {% include template with activity=event %}
                            {% endwith %}
                            <span class="pull-right text-muted" title="{{ event.time }}">
                            <small>
                                {% if display_app %}
                                    <a class="text-muted"
                                       href="{{ event.data.application_url }}">{{ event.data.application_name }}</a> &nbsp; &nbsp;
                                {% endif %}

                                {{ event.time|naturaltime }}
                            </small>
                        </span>
                        </td>

                    </tr>
                {% empty %}
                    <tr>
                        <td>No recent activity...</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>