{% load core_extras %}
{% if application_list_sidebar %}
    <ul class="nav-applications">
        {% for application in application_list_sidebar %}
            <li>
                <a href="{{ application.get_absolute_url }}">
                    {% model_icon 'application' %} {{ application.name }}
                </a>
                <ul class="nav-environments">
                    {% for task in application.tasks.all %}
                        {% if task in allowed_tasks %}
                        <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}