/** TASK **/
.execution-list-inline .label {
    display: block;
    margin: -17px 0 0 0;
}

.execution-list-inline .well:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.execution-list-inline .well:hover a {
    text-decoration: underline;
    color: #2a6496;
}

.execution-list-inline .list-inline {
    margin-bottom: 0;
}

.execution-list-inline li {
    padding-left: 0;
}

.execution-list div {
    margin-bottom: 20px;
}

.execution-list-inline .list-inline, .execution-list .list-inline {
    color: #666;
}

#execution, .parameters {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    list-style: none;
}

#execution .server {
    padding-left: 30px;
}

/** subform **/
.subform-multiple a i.fa {
    cursor: pointer;
    text-decoration: none;
}

.subform-multiple .actions {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

.form-group .actions a {
    color: #dadada;
}

.form-group:hover .actions a {
    color: #428bca;
}

@media (max-width: 768px) {
    .row label {
        margin-left: 16px;
    }

    .subform-multiple input {
        margin-bottom: 10px;
    }

    .subform-multiple .form-group {
        margin-bottom: 30px;
    }

    .command {
        padding: 5px 0;
    }
    .command + .command {
        border-top: 6px solid #eeeeee;
    }

    #execution .server {
        padding: 0;
    }
    #execution .server + .server {
        border-top: 3px solid #eeeeee;
    }
}


.loader {
  width: 15px;
  height: 15px;
  border: 2px solid #0cf;
  border-radius: 50%;
  -webkit-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
  border-top-color: transparent;
    display:relative;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  position: absolute;
  content: '';
  display: block;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

#comamnd-help-toggle {
    cursor: pointer;
}

#command-help code {
    white-space: normal !important;
}