{% extends "base_public.html" %}
{% load core_extras %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    	<h1 class="text-center">GUNNERY</h1>
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reset password</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-danger">Saving form failed</div>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter new password" name="new_password1" type="password" autofocus="">
                            {{form.new_password1.errors}}
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Repeat new password" name="new_password2" type="password">
                            {{form.new_password2.errors}}
                        </div>
                        <button type="submit" href="index.html" class="btn btn-lg btn-success btn-block">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}