.side-nav>li.dropdown>ul.dropdown-menu>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.execution-list-inline .label{
	display: block;
	margin: -17px 0 0 0;
}

.execution-list-inline .well:hover {
	background: #f0f0f0;
	cursor: pointer;
}
.execution-list-inline .well:hover a {
	text-decoration: underline;
	color: #2a6496;
}

.execution-list div {
	margin-bottom: 20px;
}

.tag-select {
	padding-top: 5px;
	font-size: 1.2em;
	cursor: pointer;
}

.tag-select .selected {
	background: #5cb85c;
}

.modal-footer {
	text-align: left;
}

.parameter-list, .command-list, .command-list ul  {
	font-family: monospace;
	list-style: none;
}

html {overflow-y: scroll;}
.modal {
    /* ... */
    overflow-y: scroll;
}

h1 .label {
	vertical-align: 0.5em;
}

.subform-multiple a i.fa {
	cursor: pointer;
	text-decoration: none;
}

.subform-multiple .actions {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-group .actions a {
	color: #dadada;
}

.form-group:hover .actions a {
	color: #428bca;
}

.chosen-container input {
	height: 25px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	color: #888;
}

.chosen-container {
	font-size: 14px;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-image: none;
}

.chosen-container-multi .chosen-choices li.search-field {
	padding-top: 3px;
	padding-bottom: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin-top: 6px;
	margin-bottom: 6px;
}

.side-nav {
	width: 170px;
}
#wrapper {
	padding-left: 170px;
}
#page-wrapper {
	padding-top: 5px;
}