{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'application' %} Application <em>{{application.name}}</em>
	<button type="submit" class="btn btn-primary pull-right" 
		data-toggle="modal" 
		data-remote="{% url 'modal_form' form_name='application' id=application.id %}" 
		data-target="#large-modal">
		<i class="fa fa-edit"></i></button></h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li class="active">{% model_icon 'application' %} {{application.name}}</li>
</ol>

{% include "partial/execution_list_inline.html" with list=application.executions_inline %}

<div class="row">
	<div class="col-md-6">
    	{% include "partial/environment_list.html" %}
	</div>
	<div class="visible-xs visible-sm">&nbsp;</div>
	<div class="col-md-6">
		{% include "partial/task_list.html" %}
	</div>
</div>
{% endblock %}