{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'environment' %} Environment <em>production</em>
	<button type="submit" class="btn btn-primary pull-right"
		data-toggle="modal" 
		data-remote="/modal_form/environment/1/" 
		data-target="#large-modal">
		<i class="fa fa-edit"></i></button></h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li><a href="/application/1">{% model_icon 'application' %} Application 01</a></li>
	<li class="active">{% model_icon 'environment' %} production</li>
</ol>

{% include "partial/execution_list_inline.html" %}

<div class="row">
	<div class="col-lg-6">
    {% include "partial/server_list.html" %}
	</div>
	<div class="col-lg-6">
		{% include "partial/task_list.html" %}
	</div>
</div>
{% endblock %}