{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'execution' %} Execution of <em>{{ execution.task.name }}</em> on <em>{{ execution.environment.name }}</em>
	<small>{% execution_status execution.status %}</small>
	<a href="{% url 'task_execute_page' task_id=execution.task.id environment_id=execution.environment.id %}" role="button" class="btn btn-primary pull-right"><i class="fa fa-bolt"></i> Execute</a>
</h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li><a href="{{ execution.task.application.get_absolute_url }}">{% model_icon 'application' %} {{ execution.task.application.name }}</a></li>
	<li><a href="{{ execution.environment.get_absolute_url }}">{% model_icon 'environment' %} {{ execution.environment.name }}</a></li>
	<li><a href="{{ execution.task.get_absolute_url }}">{% model_icon 'task' %} {{ execution.task.name }}</a></li>
	<li class="active">{% model_icon 'execution' %} Execution</li>
</ol>

<h4>Parameters</h4>
<ul class="parameter-list">
	<li>environment = {{execution.environment.name}}</li>
	{% for parameter in execution.parameters.all %}
	<li>{{parameter.name}} = {{parameter.value}}</li>
	{% endfor %}
</ul>

<p>&nbsp;</p>

<h4>Commands</h4>
<ul class="command-list">
	<li class="text-muted">started {{execution.time_start}}</li>
	{% for command in execution.commands.all %}
	<li>
		{{command.command}}
		{% for role in command.roles.all %}
		<span class="label label-default">{{role.name}}</span>
		{% endfor %}
		{% for log in command.logs.all %}
		<ul class="log">
			<li>{{log.server.name}} ({{log.server.host}})</li>
			<li>{{log.output}}</li>
			{% if execution.time %}
			<li class="text-success">finished in {{log.time}} s</li>
			{% endif %}
		</ul>
		{% endfor %}
	</li>
	{% endfor %}
	{% if execution.time_end %}
	<li class="text-muted">finished 2013-12-12 12:12:13, 2 s</li>
	{% endif %}
</ul>

{% endblock %}