{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'execution' %} Execute <em>Task 01</em></h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li><a href="/application/1">{% model_icon 'application' %} Application 01</a></li>
	<li><a href="/environment/1">{% model_icon 'environment' %} production</a></li>
	<li><a href="/task/1">{% model_icon 'task' %} Task 01</a></li>
	<li class="active">{% model_icon 'execution' %} Execution</li>
</ol>

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label for="server-form-host" class="col-sm-3 control-label">Environment</label>
    <div class="col-sm-6">
      <select class="form-control" id="server-form-host" name="host">
      	<option>production</option>
      	<option>pre-production</option>
      	<option>test</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="server-form-name" class="col-sm-3 control-label">parameter1</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="server-form-name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="server-form-user" class="col-sm-3 control-label">parameter2</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="server-form-user" name="user">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
	  <button type="button" class="btn btn-primary"><i class="fa fa-bolt"></i> Execute</button>
    </div>
  </div>
</form>

{% endblock %}