{% load staticfiles %}
{% load core_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gunnery</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "vendor/chosen/chosen.min.css" %}" rel="stylesheet">
    <link href="{% static "core/css/base.css" %}" rel="stylesheet">
    <link href="{% static "task/css/base.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
</head>

<body>

<div>
    {% if messages %}
    <div class="sessionMessageWrap">
        {% for message in messages %}
        <div {% if message.tags %} class=" {{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>


<script src="{% static "js/jquery-1.10.2.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "vendor/jquery-cookie/jquery.cookie-1.4.1.min.js" %}"></script>
<script src="{% static "vendor/chosen/chosen.jquery.min.js" %}"></script>
<script src="{% static "core/js/base.js" %}"></script>
{% block page_scripts %}{% endblock %}
</body>
</html>
