<td class="text-center">
    <input type="hidden" name="view_{{ model }}_{{ id }}" />
    <input class="v" type="checkbox" name="view_{{ model }}_{{ id }}"
           {% with "view_"|add:model as perm_name %}{% if perm_name in perms %}checked{% endif %}{% endwith %}></td>
<td class="text-center">
{% if model != 'application' %}
    <input type="hidden" name="execute_{{ model }}_{{ id }}" />
    <input class="e" type="checkbox" name="execute_{{ model }}_{{ id }}"
           {% with "execute_"|add:model as perm_name %}{% if perm_name in perms %}checked{% endif %}{% endwith %}>
{% endif %}
</td>
<td class="text-center">
    <input type="hidden" name="change_{{ model }}_{{ id }}" />
    <input class="c" type="checkbox" name="change_{{ model }}_{{ id }}"
           {% with "change_"|add:model as perm_name %}{% if perm_name in perms %}checked{% endif %}{% endwith %}></td>

