{% load crispy_forms_tags %}
{% load core_extras %}
{% load guardian_tags %}

<form class="form-horizontal" role="form" method="POST" action="{{ request_path }}">
    {% csrf_token %}
    {% if applications.count %}
    <p class="visible-xs">V - view; E - execute; C - change</p>

    <table id="permissions" class="table table-condensed table-striped">
        <thead>
        <tr>
            <td></td>
            <td width="1"><span class="hidden-xs">view</span><span class="visible-xs">V</span></td>
            <td width="1"><span class="hidden-xs">execute</span><span class="visible-xs">E</span></td>
            <td width="1"><span class="hidden-xs">change</span><span class="visible-xs">C</span></td>
        </tr>
        </thead>
        <tbody>
            {% for application in applications.all %}
                {% get_obj_perms group for application as "application_perms" %}
                <tr id="application-{{ application.id }}" class="application">
                    <td class="dependent1">{% model_icon 'application' %} {{ application.name }}</td>
                    {% include "partial/permissions_form_input.html" with model="application" id=application.id perms=application_perms %}
                </tr>
                {% for environment in application.environments.all %}
                    {% get_obj_perms group for environment as "environment_perms" %}
                    <tr class="application-{{ application.id }} environment" data-application="{{ application.id }}">
                        <td class="dependent2">{% model_icon 'environment' %} {{ environment.name }}</td>
                        {% include "partial/permissions_form_input.html" with model="environment" id=environment.id perms=environment_perms %}
                    </tr>
                {% endfor %}
                {% for task in application.tasks.all %}
                    {% get_obj_perms group for task as "task_perms" %}
                    <tr class="application-{{ application.id }} task" data-application="{{ application.id }}">
                        <td class="dependent2">{% model_icon 'task' %} {{ task.name }}</td>
                        {% include "partial/permissions_form_input.html" with model="task" id=task.id perms=task_perms %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        First, create applications, environments and tasks.
    {% endif %}
    <script>
        (function () {
            var permissions = $('#permissions');
            permissions.find('input').click(function (event) {
                var input = $(this),
                    row = input.parents('tr'),
                    isApplication = !!row.attr('id'),
                    inputClass = input.attr('class'),
                    toggle = input.prop('checked'),
                    sibling,
                    siblingClass,
                    applicationViewInput
                    ;

                if (!isApplication) {
                    applicationViewInput = permissions.find('#application-'+row.data('application')+' input.v');
                    if (toggle) {
                        applicationViewInput.prop('checked', toggle).prop('disabled', toggle);
                        applicationViewInput.prev().val(input.prop('checked')?'on':'');
                    } else if (permissions.find('.application-'+row.data('application')+' input:checked').length == 0) {
                        applicationViewInput.prop('disabled', toggle);
                    }
                }

                if (input.hasClass('c')) {
                    siblingClass = 'e';
                } else if (input.hasClass('e')) {
                    siblingClass = 'v';
                }
                if (siblingClass) {
                    sibling = row.find('.'+siblingClass);
                    if (toggle) {
                        if (sibling.prop('checked')) {
                            sibling.first().prop('disabled', toggle);
                        } else {
                            sibling.first().click().prop('disabled', toggle);
                        }
                    } else {
                        if (!permissions.find('#'+inputClass+' .'+siblingClass).prop('checked'))
                            sibling.first().prop('disabled', toggle);
                    }
                }
                input.prev().val(input.prop('checked')?'on':'');
            });
            permissions.find('input:checked').prop('checked', false).click();
        })();
    </script>
</form>
