{% load core_extras %}
{% load guardian_tags %}

<div class="row">
    <div class="col col-sm-offset-1 col-sm-9 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 ">
        <button type="button" class="btn btn-default btn-sm pull-right"
                data-toggle="modal"
                data-remote="{% url 'modal_form' app='account' form_name='user' %}"
                data-target="#large-modal">
            <i class="fa fa-plus"></i> Create
        </button>
        <br/>
        <br/>

        <div class="table-responsive">
            <table class="table table-hover tablesorter">
                <tbody>
                {% for luser in users %}
                    <tr>
                        <td><a href="{{ luser.get_absolute_url }}">{{ luser.get_full_name }}</a>
                            {% if luser.is_superuser %}<span class="label label-default label-primary">superuser</span>{% endif %}
                            {% for group in luser.groups.all %}
                                <span class="label label-default">{% if not department_user_list %}{{ group.departmentgroup.department }} - {% endif %}{{ group.departmentgroup.local_name }}</span>
                            {% endfor %}
                        </td>
                        <td class="text-right">
                            <button type="submit" class="btn btn-default btn-xs"
                                    data-toggle="modal"
                                    data-remote="{% url 'modal_form' app='account' form_name=form_name id=luser.id %}"
                                    data-target="#large-modal">
                                <i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
