<h3>
    {% include "event/ExecutionFinish/email_subject.txt" %}
</h3>

<p>Started by {{ instance.user.get_full_name }} at {{ instance.time_start }}.</p>

{% if instance.parameters.count > 1 %}
    <p>Parameters</p>
    <ul class="parameters">
        {% for parameter in instance.parameters.all %}
            <li>{{ parameter.name }} = {{ parameter.value }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for command in instance.commands.all %}
        <div>
            Execute: <code>{{ command.command }}</code> on servers tagged with:
            {% for role in command.roles.all %}
                <span class="label label-default">{{ role.name }}</span>
            {% endfor %}
        </div>
        {% for server in command.servers.all %}
            <div style="margin-bottom: 1em">
                <div><b>{{ server.server.name }}</b> ({{ server.server.host }})</div>
                <pre style="margin:0">{{ server.output }}</pre>
                <div class="server-status">
                    {% if server.status == server.SUCCESS %}
                        <span class="text-success">finished in {{ server.time }} s</span>
                    {% else %}
                        <span class="text-danger">failed with code {{ server.return_code }} after {{ server.time }} s</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

<br>
<div>
    Execution finished at {{ instance.time_end }} after {{ instance.time }} s
</div>
