{% extends "base.html" %}
{% load core_extras %}
{% load tz %}

{% block content %}
    <h1>{% model_icon 'task' %} Execution history
    </h1>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        {% if model_name == 'application' %}
            <li><a href="{{ related.get_absolute_url }}">{% model_icon 'application' %} {{ related.name }}</a></li>
        {% elif model_name == 'environment' %}
            <li>
                <a href="{{ related.application.get_absolute_url }}">{% model_icon 'application' %} {{ related.application.name }}</a>
            </li>
            <li><a href="{{ related.get_absolute_url }}">{% model_icon 'environment' %} {{ related.name }}</a></li>
        {% elif model_name == 'task' %}
            <li>
                <a href="{{ related.application.get_absolute_url }}">{% model_icon 'application' %} {{ related.application.name }}</a>
            </li>
            <li><a href="{{ related.get_absolute_url }}">{% model_icon 'task' %} {{ related.name }}</a></li>
        {% endif %}
        <li class="active">{% model_icon 'execution' %} Executions</li>
    </ol>


<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="text-center col-sm-1"><span class="hidden-xs">Status</span></th>
                <th><span class="hidden-xs">Environment</span><span class="visible-xs">Env</span></th>
                <th>Task</th>
                <th>User</th>
                <th>Time started</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
    {% for execution in executions %}
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                <td class="text-center" rowspan="2">
                    <span class="hidden-xs">{% execution_status execution.status %}</span>
                    <span class="visible-xs">{% execution_status execution.status caption=False %}</span>
                </td>
                <td>{{ execution.environment.name }}</td>
                <td><a href="{{ execution.get_absolute_url }}">{{ execution.task.name }}</a></td>
                <td>{{ execution.user.get_full_name }}</td>
                <td>{{ execution.time_created|timezone:user.timezone }}</td>
                <td>{{ execution.duration }}</td>
            </tr>
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                {% if execution.parameters.count %}
                <td colspan="5" class="small">
                    {% for parameter in execution.parameters.all %}
                        {{ parameter.name }} = {{ parameter.value }}<br/>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}