{% extends "base.html" %}
{% load core_extras %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block page_scripts %}
    <script src="{% static "task/js/form.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-sm-10">
            {% model_icon 'task' %}
            {% if is_new %}Add task{% else %}<span class="long-title">Task</span> <em>{{ task.name }}</em>{% endif %}
        </h1>
        {% if task %}
        <h1 class="col-sm-2 text-right">
            <a href="{% url 'task_execute_page' task_id=task.id %}" role="button" class="btn btn-default"><i
                    class="fa fa-bolt"></i> Execute</a>
        </h1>
        {% endif %}
    </div>
    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li><a href="{{ application.get_absolute_url }}">{% model_icon 'application' %} {{ application.name }}</a></li>
        <li class="active">
            {% if not is_new %}<a href="{{ task.get_absolute_url }}">{% endif %}
            {% model_icon 'task' %}
            {% if is_new %}Add task{% else %}{{ task.name }}</a>{% endif %}
        </li>
    </ol>

    <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% crispy form form.helper %}

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-sm-offset-1">
                <label>Parameters</label>
            </div>
        </div>

        <div class="subform-multiple" data-model="TaskParameter">
            {{ form_parameters.non_field_errors }}
            {{ form_parameters.management_form }}
            {% for form in form_parameters %}
                {% if not form.DELETE.value %}
                    <div class="form-group">
                        {% include 'partial/form/formset_form_managment.html' %}
                        {% include 'partial/form/text.html' with field=form.name class='col-sm-offset-1 col-xs-12 col-sm-3 col-md-3' %}
                        {% include 'partial/form/text.html' with field=form.description class='col-xs-12 col-sm-6 col-md-6' %}
                        {% include 'partial/form/formset_actions.html' %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group actions">
                <div class="col-sm-offset-10 col-sm-2">
                    <a class="button-add"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-sm-offset-1">
                <label>Commands* </label>
                <a id="comamnd-help-toggle" data-toggle="element" data-target="#command-help"><i class="fa fa-question"></i></a>
            </div>
        </div>
        {{ form_commands.non_field_errors }}
        <div class="row {% if application.tasks.count %}hide{% endif %}" id="command-help">
            <div class="col-sm-offset-1 col-md-9 well">
                <p>
                    Commands are executed in non-login, non-interactive shell.
                    It's allowed to use stream redirection and pipes in commands. Examples:
                </p>
                <ul>
                    <li>timestamped backup: <code>tar -cpzf /home/backup/backup-${gun_time}.tar.gz /var/www/</code></li>
                    <li>clear memcached: <code>( sleep 3 ; echo 'flush_all' ; sleep 2 ; echo q; echo q; ) | telnet 127.0.0.1 11211 -eq</code></li>
                    <li>make: <code>cd /var/www/your_project; make all</code></li>
                </ul>
                <p>
                    To use custom parameters in commands include <code>${parameter_name}</code>.
                </p>
                Available global parameters:
                <ul>
                    {% for name, value in global_parameters %}
                        <li><code>${% templatetag openbrace %}{{ name }}{% templatetag closebrace %}</code> {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="subform-multiple" data-model="TaskCommand">
            {{ form_commands.management_form }}

            {% if form_commands.non_form_errors %}
                <div class="alert alert-block alert-danger">
                    <ul>
                        {% for error in form_commands.non_form_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for form in form_commands %}
                {% if not form.DELETE.value %}
                    <div class="form-group">
                        {% include 'partial/form/formset_form_managment.html' %}
                        {% include 'partial/form/text.html' with field=form.command class='col-sm-offset-1 col-sm-7' %}
                        {% include 'partial/form/formset_actions.html' %}
                        <div class="col-sm-2 {% if form.roles.errors %}has-error{% endif %}">
                            {{ form.roles }}
                            {% if form.roles.errors %}<p class="text-danger">{{ form.roles.errors|first }}</p>{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group actions">
                <div class="col-sm-offset-10 col-sm-2">
                    <a class="button-add"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-3">
                <button type="button" class="btn btn-default delete" tabindex="-1">
                    <i class="fa fa-times"></i> Delete
                </button>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </div>

        <div class="removed"></div>
    </form>

    {% if not is_new %}
        <form role="delete" method="POST" action="{% url 'task_delete' task.id %}">
            {% csrf_token %}
        </form>
    {% endif %}

{% endblock %}