{% extends "base.html" %}
{% load core_extras %}
{% load guardian_tags %}

{% block content %}
    {% get_obj_perms user for task as "task_perms" %}
    <div class="row">
        <h1 class="col-sm-10">
            {% model_icon 'execution' %} Execute <em>{{ task.name }}</em>
        </h1>
        {% if 'change_task' in task_perms %}
        <h1 class="col-sm-2 text-right">
            <a href="{% url 'task_form_page' task_id=task.id %}" type="submit" class="btn btn-default"><i
                    class="fa fa-edit"></i></a>
        </h1>
        {% endif %}
    </div>
    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li>
            <a href="{% url 'application_page' application_id=task.application.id %}">{% model_icon 'application' %} {{ task.application.name }}</a>
        </li>
        {% if environment %}
            <li><a href="{{ environment.get_absolute_url }}">{% model_icon 'environment' %} {{ environment.name }}</a>
            </li>
        {% endif %}
        <li><a href="{{ task.get_absolute_url }}">{% model_icon 'task' %} {{ task.name }}</a></li>
        <li class="active">{% model_icon 'execution' %} Execution</li>
    </ol>

    {% if form_errors %}
        <div class="alert alert-block alert-danger">
            <ul>
                {% for form_error in form_errors %}
                <li>{{ form_error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="server-form-host" class="col-sm-3 control-label">Environment</label>

            <div class="col-sm-7">
                <select class="form-control" id="server-form-host" name="parameter-environment"
                        {% if task.application.environments.count == 1 %}readonly="readonly"{% endif %}>
                    <option></option>
                    {% for option in environments %}
                        <option value="{{ option.id }}"
                                {% if option.id == environment.id or task.application.environments.count == 1 %}selected{% endif %}>{{ option.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if task.parameters.count %}
            <hr/>

            <div class="form-group">
                <label class="col-sm-3 control-label">Custom parameters:</label>
            </div>
            {% for parameter in task.parameters.all %}
                <div class="form-group">
                    <label for="server-form-name" class="col-sm-3 control-label">{{ parameter.name }}</label>

                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="server-form-name"
                               name="parameter-{{ parameter.name }}">
                        <span class="help-block">{{ parameter.description }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
                <button type="submit" class="btn btn-primary"><i class="fa fa-bolt"></i> Execute</button>
            </div>
        </div>
    </form>

{% endblock %}