{% extends "base.html" %}
{% load core_extras %}
{% load task_extras %}
{% load guardian_tags %}

{% block content %}
    {% get_obj_perms user for task as "task_perms" %}
    <div class="row">
        <h1 class="col-md-7">
            {% model_icon 'task' %} <span class="long-title">Task</span> <em>{{ task.name }}</em>
        </h1>
        <h1 class="col-md-5 text-right">
            {% if 'execute_task' in task_perms %}
            <a href="{% url 'task_execute_page' task_id=task.id %}" role="button" class="btn btn-default"><i
                    class="fa fa-bolt"></i> Execute</a>
            {% endif %}
            {% if 'change_task' in task_perms %}
            <a href="{% url 'task_form_page' task_id=task.id %}" type="submit" class="btn btn-default"><i
                    class="fa fa-edit"></i></a>
            {% endif %}
        </h1>
    </div>
    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li>
            <a href="{{ task.application.get_absolute_url }}">{% model_icon 'application' %} {{ task.application.name }}</a>
        </li>
        <li class="active">{% model_icon 'task' %} {{ task.name }}</li>
    </ol>

    {% last_activity_bar related_to=task %}

    <p>{{ task.description }}</p>

    {% if task.parameters.count %}
        <ul class="parameters">
            {% for parameter in task.parameters.all %}
                <li>{{ parameter.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>&nbsp;</p>

    <div id="execution">
        {% for command in task.commands.all %}
            <div class="command">{{ command.command }}
                {% for role in command.roles.all %}
                    <span class="label label-default">{{ role.name }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}