
{% load core_extras %}
  <ul class="nav navbar-nav side-nav">
    <li><a href="/">{% model_icon 'dashboard' %} GUNNERY</a></li>
    {% for application in application_list_sidebar %}
    <li class="dropdown open">
      <a href="{{ application.get_absolute_url }}" class="dropdown-toggle">
        <i class="fa fa-desktop"></i> {{application.name}} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      {% for environment in application.environments.all %}
        <li><a href="{{ environment.get_absolute_url }}">{{environment.name}}</a></li>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
            <li class="dropdown dropup user-menu">
              <ul class="dropdown-menu dropup">
                <li><a href="{% url 'settings_page' %}"><i class="fa fa-gear"></i> Settings</a></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
            </li>
  </ul>