{% load core_extras %}
{% if not notitle %}
<h3>Activity</h3>
{% else %}
<br/>
{% endif %}
<div class="row execution-list-inline">
	<div class="col-lg-4">
		<div class="well well-sm">
			<span class="pull-right">{% execution_status 'running' %}</span>
			<a href="/execution/">Application 01 / production / clear-cache</a><br/>
			Started 2013-13-13 13:13 by User01
		</div>
	</div>
	<div class="col-lg-4">
		<div class="well well-sm">
			<span class="pull-right">{% execution_status 'success' %}</span>
			<a href="/execution/">Application 01 / production / clear-cache</a><br/>
			Started 2013-13-13 13:13 by User01
		</div>
	</div>
	<div class="col-lg-4">
		<div class="well well-sm">
			<span class="pull-right">{% execution_status 'failed' %}</span>
			<a href="/execution/">Application 01 / production / clear-cache</a><br/>
			Started 2013-13-13 13:13 by User01
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="pull-right"><a href="/execution/">Full history</a></p>
	</div>
</div>