{% load core_extras %}
<h3>{% model_icon 'server' %} Servers
  <button type="button" class="btn btn-primary btn-xs"
          data-toggle="modal" 
          data-remote="/modal_form/server/" 
          data-target="#large-modal">
          <i class="fa fa-plus"></i></button></h3>
<div class="table-responsive">
  <table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th class="header">Name <i class="fa fa-sort"></i></th>
        <th class="header">Host <i class="fa fa-sort"></i></th>
        <th class="header">Roles <i class="fa fa-sort"></i></th>
        <th class="header"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>app-prod01</td>
        <td>127.0.0.1</td>
        <td><span class="label label-success">app</span></td>
        <td><button type="submit" class="btn btn-primary btn-xs"
          data-toggle="modal" 
          data-remote="/modal_form/server/1/" 
          data-target="#large-modal">
          <i class="fa fa-edit"></i></button></td>
      </tr>
      <tr>
        <td>db-prod01</td>
        <td>127.0.0.1</td>
        <td><span class="label label-success">db</span></td>
        <td><button type="submit" class="btn btn-primary btn-xs"
          data-toggle="modal" 
          data-remote="/modal_form/server/2/" 
          data-target="#large-modal">
          <i class="fa fa-edit"></i></button></td>
      </tr>
      <tr>
        <td>cache-prod01</td>
        <td>127.0.0.1</td>
        <td><span class="label label-success">cache</span></td>
        <td><button type="submit" class="btn btn-primary btn-xs"
          data-toggle="modal" 
          data-remote="/modal_form/server/3/" 
          data-target="#large-modal">
          <i class="fa fa-edit"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>