{% load core_extras %}
<h3>{% model_icon 'server' %} Servers
  <button type="button" class="btn btn-primary btn-xs"
    data-toggle="modal" 
    data-remote="{% url 'modal_form' form_name='server' id='' parent_name='environment' parent_id=environment.id %}" 
    data-target="#large-modal">
    <i class="fa fa-plus"></i></button>
</h3>
{% if environment.servers.count %}
<div class="table-responsive">
  <table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th class="header">Name <i class="fa fa-sort"></i></th>
        <th class="header">Host <i class="fa fa-sort"></i></th>
        <th class="header">Roles <i class="fa fa-sort"></i></th>
        <th class="header"></th>
      </tr>
    </thead>
    <tbody>
      {% for server in environment.servers.all %}
      <tr>
        <td>{{server.name}}</td>
        <td>{{server.host}}</td>
        <td>
          {% for role in server.roles.all %}
            <span class="label label-default">{{role.name}}</span>
          {% endfor %}
        </td>
        <td><button type="submit" class="btn btn-primary btn-xs"
          data-toggle="modal" 
          data-remote="{% url 'modal_form' form_name='server' id=server.id %}" 
          data-target="#large-modal">
          <i class="fa fa-edit"></i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
No servers yet.
{% endif %}