{% load core_extras %}
<h3>{% model_icon 'serverrole' %} Server roles
  <button type="button" class="btn btn-primary btn-xs"
    data-toggle="modal" 
    data-remote="{% url 'modal_form' form_name='serverrole' %}" 
    data-target="#large-modal">
    <i class="fa fa-plus"></i></button>
</h3>
{% if serverrole.count %}
<div class="table-responsive">
  <table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th class="header">Name <i class="fa fa-sort"></i></th>
        <th class="header col-sm-2"></th>
      </tr>
    </thead>
    <tbody>
      {% for serverrole in serverrole.all %}
      <tr>
        <td>{{serverrole.name}}</td>
        <td class="text-right">
          <button type="submit" class="btn btn-primary btn-xs"
            data-toggle="modal" 
            data-remote="{% url 'modal_form' form_name='serverrole' id=serverrole.id %}" 
            data-target="#large-modal">
            <i class="fa fa-edit"></i></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
No roles yet.
{% endif %}