{% load core_extras %}
<h3>{% model_icon 'task' %} Tasks
  <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></h3>
<div class="table-responsive">
  <table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th class="header">Name <i class="fa fa-sort"></i></th>
        <th class="header"> <i class="fa"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/task/1">deploy</a></td>
        <td>
          <a href="/task/1/execute/1" role="button" class="btn btn-primary btn-xs"><i class="fa fa-bolt"></i> Execute</a>
          <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button></td>
      </tr>
      <tr>
        <td><a href="/task/1">clear-cache</a></td>
        <td>
          <a href="/task/1/execute/1" role="button" class="btn btn-primary btn-xs"><i class="fa fa-bolt"></i> Execute</a>
          <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button></td>
      </tr>
      <tr>
        <td><a href="/task/1">rollback</a></td>
        <td>
          <a href="/task/1/execute/1" role="button" class="btn btn-primary btn-xs"><i class="fa fa-bolt"></i> Execute</a>
          <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button></td>
      </tr>
      <tr>
        <td><a href="/task/1">backup</a></td>
        <td>
          <a href="/task/1/execute/1" role="button" class="btn btn-primary btn-xs"><i class="fa fa-bolt"></i> Execute</a>
          <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>