{% extends "base.html" %}
{% load core_extras %}
{% load task_extras %}
{% load guardian_tags %}

{% block content %}
    {% get_obj_perms user for environment as "environment_perms" %}
    <div class="row">
        <h1 class="col-sm-10">
            {% model_icon 'environment' %} <span class="long-title">Environment</span> <em>{{ environment.name }}</em>
        </h1>
        <h1 class="col-sm-2 text-right">
            {% if 'change_environment' in environment_perms %}
            <button type="submit" class="btn btn-default"
                    data-toggle="modal"
                    data-remote="{% url 'modal_form' form_name='environment' id=environment.id %}"
                    data-target="#large-modal">
                <i class="fa fa-edit"></i></button>
            {% endif %}
        </h1>
    </div>
    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li>
            <a href="{{ environment.application.get_absolute_url }}">{% model_icon 'application' %} {{ environment.application.name }}</a>
        </li>
        <li class="active">{% model_icon 'environment' %} {{ environment.name }}</li>
    </ol>

    {% last_activity_bar related_to=environment %}

    <div class="row">
        <div class="col-md-6">
            {% include "partial/server_list.html" %}
        </div>
        <div class="visible-xs visible-sm">&nbsp;</div>
        <div class="col-md-6">
            {% include "partial/task_list.html" with application=environment.application %}
        </div>
    </div>
{% endblock %}