{% extends "base.html" %}
{% load core_extras %}
{% block content %}

    <h1><i class="fa fa-question-circle"></i> First steps with Gunnery</h1>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li class="active"><i class="fa fa-question-circle"></i> First steps</li>
    </ol>

    <h4>1. Create {% model_icon 'application' %} application</h4>
    <h4>2. Create {% model_icon 'environment' %} environment</h4>
    <h4>3. Create {% model_icon 'server' %} servers and test connections</h4>
    <h4>4. Create {% model_icon 'task' %} task</h4>
    <h4>5. {% model_icon 'execution' %} Execute task</h4>

{% endblock %}