{% extends "base.html" %}
{% load core_extras %}
{% load guardian_tags %}

{% block content %}
    <h1>{% model_icon 'settings' %} Settings - {{ subsection|capfirst }}</h1>

    <ol class="breadcrumb">
        <li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
        <li class="active">{% model_icon 'settings' %} Settings</li>
        <li class="active">{% model_icon 'settings' %} {{ section|capfirst }}</li>
        <li class="active">{{ subsection|capfirst }}</li>
    </ol>

    <ul id="settings" class="nav nav-pills">
        <li class="dropdown {% if section == 'user' %}active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                User <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li {% if subsection == 'profile' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='user' subsection='profile' %}">{% model_icon 'user' %}
                        Profile</a></li>
                <li {% if subsection == 'password' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='user' subsection='password' %}">{% model_icon 'user' %}
                        Password</a></li>
                <li {% if subsection == 'notifications' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='user' subsection='notifications' %}">{% model_icon 'user' %}
                        Notifications</a></li>
            </ul>
        </li>

        {% get_obj_perms user for department as "department_perms" %}
        {% if 'edit_department' in department_perms %}
        <li class="dropdown {% if section == 'department' %}active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Department <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li {% if subsection == 'applications' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='department' subsection='applications' %}">{% model_icon 'application' %}
                        Applications</a></li>
                <li {% if section == 'department' and subsection == 'users' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='department' subsection='users' %}">{% model_icon 'user' %}
                        Users</a></li>
    {#            <li {% if subsection == 'groups' %}class="active"{% endif %}>#}
    {#                <a href="{% url 'settings_page' section='department' subsection='groups' %}">{% model_icon 'group' %}#}
    {#                    Groups</a></li>#}
                <li {% if subsection == 'serverroles' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='department' subsection='serverroles' %}">{% model_icon 'serverrole' %}
                        Server Roles</a></li>
            </ul>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="dropdown {% if section == 'system' %}active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                System <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li {% if subsection == 'departments' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='system' subsection='departments' %}">{% model_icon 'department' %}
                        Departments</a></li>
                <li {% if section == 'system' and subsection == 'users' %}class="active"{% endif %}>
                    <a href="{% url 'settings_page' section='system' subsection='users' %}">{% model_icon 'user' %}
                        Users</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    {% block subsection_content %}
        {% include subsection_template %}
    {% endblock subsection_content %}

{% endblock %}