{% extends "base.html" %}
{% load core_extras %}

{% block content %}
<h1>{% model_icon 'settings' %} Settings</h1>

<ol class="breadcrumb">
	<li><a href="/">{% model_icon 'dashboard' %} Dashboard</a></li>
	<li class="active">{% model_icon 'settings' %} Settings</li>
</ol>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li {% if section == 'applications' %}class="active"{% endif %}>
  	<a href="{% url 'settings_page' section='applications' %}">{% model_icon 'application' %} Applications</a></li>
  <li {% if section == 'users' %}class="active"{% endif %}>
  	<a href="{% url 'settings_page' section='users' %}">{% model_icon 'user' %} Users</a></li>
  <li {% if section == 'serverroles' %}class="active"{% endif %}>
  	<a href="{% url 'settings_page' section='serverroles' %}">{% model_icon 'serverrole' %} Server Roles</a></li>
</ul>

{% if section == 'serverroles' %}
	{% include 'partial/serverrole_list.html' %}
{% elif section == 'applications' %}
	{% include 'partial/application_list.html' %}
{% elif section == 'users' %}
	{% include 'partial/user_list.html' %}
{% endif %}

{% endblock %}